<div class="navbar-brand-box">
    <a href="javascript:void(0);" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-dark-sm.png' %}" alt="" height="26">
        </span>
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="28">
        </span>
    </a>

    <a href="javascript:void(0);" class="logo logo-light">
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-light-sm.png' %}" alt="" height="26">
        </span>
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="30">
        </span>
    </a>
</div>

<button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
    <i class="bx bx-menu align-middle"></i>
</button>

<!-- start page title -->
<div class="page-title-box align-self-center d-none d-md-block">
    <h4 class="page-title mb-0">Hi, Welcome Backs!</h4>
</div>
<!-- end page title -->