{% with request.resolver_match.url_name as url_name %}
<!-- Left Menu Start -->
<ul class="metismenu list-unstyled" id="side-menu">
    <li class="menu-title" data-key="t-t_simproka">Simproka</li>
    
    <li>
        <a href="{{ initurl }}/simproka/" class="text-primary">
            <i class="bx bx bxs-book icon nav-icon"></i>
            <span class="menu-item" data-key="t-simproka">Simproka</span>
        </a>
    </li>

    <div class="dropdown-divider"></div>
    <li class="menu-title" data-key="t-t_ekinerja">e-Kinerja</li>

    <li>
        <a href="{{ initurl }}/ekinerja/" class="text-primary">
            <i class="bx bx-book-bookmark icon nav-icon"></i>
            <span class="menu-item" data-key="t-ekinerja">e-Kinerja</span>
        </a>
    </li>

    <div class="dropdown-divider"></div>
    <li class="menu-title" data-key="t-t_managemen">Managemen</li>

    <li>
        <a href="{{ initurl }}/managemen/" class="text-danger">
            <i class="bx bx-customize icon nav-icon"></i>
            <span class="menu-item" data-key="t-manajemen">Manajemen</span>
        </a>
    </li>

</ul>
{% endwith %}
